<header class="header" data-controller="menu">
  <div class="header__content">
    <a href="<%= root_path %>"><h2>doniraj.hr</h2></a>
    <div class="header__menu" id="header__menu">
      <%= inline_svg_tag 'hamburger.svg', class: 'menu__hamburger-icon', data: {action: 'click->menu#toggleMenu'} %>
    </div>
    <div class="header__nav-actions">
      <button class="suggestionButton nav-action">Predloži udrugu</button>
      <a class="nav-action" href="<%= o_nama_path %>">O nama</a>
    </div>
  </div>
</header>
<div class="mobile-menu mobile-menu--hidden" id="mobile-menu" data-controller="menu">
  <div class="mobile-menu__content">
    <div class="mobile-menu__header-content">
      <h2>doniraj.hr</h2>
      <div class="header__menu">
        <%= inline_svg_tag 'close.svg', class: 'menu__close-icon header__menu--closed', data: {action: 'click->menu#toggleMenu'} %>
      </div>
    </div>
    <div id="mobile-menu__actions-wrapper">
      <div class="mobile-menu__actions">
        <div>
          <button class="nav-action" data-action="click->menu#toggleMobileForm">Predloži udrugu</button>
        </div>
        <div>
          <a class="nav-action" href="<%= o_nama_path %>">O nama</a>
        </div>
      </div>
      <hr/>
      <div class="mobile-menu__footer-content">
        <a href="mailto:kontakt@doniraj.hr" class="footer__navigation-item hover-text-color">
          <%= inline_svg_tag 'email' %>
          <span>kontakt@doniraj.hr</span>
        </a>
        <span class="dot-separator"></span>
        <a href="#" class="footer__navigation-item hover-text-color polica">Polica privatnosti</a>
        <span class="dot-separator"></span>
        <a href="#" class="footer__navigation-item hover-text-color">
          <%= inline_svg_tag 'facebook-icon.svg' %>
        </a>
      </div>
    </div>
    <div class="mobile-form none" id="mobile-form">
      <p class="back-action">
        <span data-action="click->menu#toggleMobileForm">&#8592; Natrag na izbornik</span>
      </p>
      <div class="none" id="mobile-menu__success-message">
        <h4>Hvala na unosu!</h4>
        <p class="mobile-form__info line-height-common">Predloženu udrugu ćemo pregledati te naknadno ju dodati u naš
          sustav.</p>
      </div>
      <div id="form-content">
        <h4>Predloži udrugu</h4>
        <p class="mobile-form__info line-height-common">Što više informacija nam date, to bolje hehe</p>
        <%= form_with model: @organization, scope: :organization, class: "suggestion_form", id: "suggestion_form_mobile",
                      data: {remote: true, 'suggestion-target': 'form'} do |f| %>
          <%= hidden_field_tag :created_via_suggestion_form, true %>
          <div class='form-section' data-menu-target="formSection">
            <label for="name">Naziv udruge <span class="required">*</span></label>
            <%= f.text_field :name, 'data-menu-target': 'name', required: true,
                             oninvalid: "this.setCustomValidity('Unesite ime udruge.')",
                             oninput: "this.setCustomValidity('')"
            %>
            <div class="mobile-form__error-message none" id="mobile-menu__name-error">
              <span>Ime udruge je obavezno polje.</span>
            </div>
          </div>
          <div class='form-section' data-menu-target="formSection">
            <label for="city_id">Mjesto <span class="required">*</span></label>
            <div class="select-input-wrapper mobile--show">
              <%= select(:organization, :city_id, options_for_select(City.pluck(:name, :id)),
                         {include_blank: true},
                         'data-menu-target': 'cityId',
                         'data-action': 'change->menu#selectFormCityMobile',
                         required: true,
                         oninvalid: "this.setCustomValidity('Odaberite mjesto.')",
                         oninput: "this.setCustomValidity('')"
                  )
              %>
              <div class="select-placeholder radius-m input-border-primary" style="border: none;">
                <span id="mobile-form-placeholder-text">Mjesto</span>
                <%= inline_svg_tag 'chevron-down.svg', class: 'icon-sm' %>
              </div>
            </div>
            <div class="mobile-form__error-message none" id="mobile-menu__city-error">
              <span>Molimo odaberite mjesto.</span>
            </div>
          </div>
          <div class='form-section' data-menu-target="formSection">
            <label for="description">Opis udruge</label>
            <%= f.text_area :description, resize: 'none' %>
          </div>
          <div class='form-section' data-menu-target="formSection">
            <label for="address">Adresa</label>
            <%= f.text_field :address %>
          </div>
          <div class='form-section' data-menu-target="formSection">
            <label for="iban">IBAN</label>
            <%= f.text_field :iban %>
          </div>
          <div class="form-footer">
            <%= f.button 'Predloži', class: 'submit-button', 'data-action': 'menu#submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>