<div class="ticket" data-controller="ticket" data-action="click->ticket#toggleCard">
  <div class="ticket__content">
    <div class="ticket__header">
      <h4 class="ticket__name">
        <%= organization.name %>
      </h4>
      <%= inline_svg_tag 'chevron-down', class: "ticket__toggle-action" %>
    </div>
    <div class="ticket__info">
      <span class="ticket__address"><%= organization.address %>, <strong>Split</strong></span>
      <a href="#" target="_blank">
        <%= inline_svg_tag 'globe' %>
        <span><%= organization.website %></span>
      </a>
    </div>
    <div class="ticket__body ticket__body--hidden" data-ticket-target="body">
      <p><%= organization.description %></p>
      <div>
        <div class="ticket__contact">
          <%= inline_svg_tag 'phone' %>
          <span><%= organization.telephone %></span>
        </div>
        <div class="ticket__contact">
          <%= inline_svg_tag 'email' %>
          <span><%= organization.email %></span>
        </div>
      </div>
      <hr/>
      <div class="ticket__footer">
        <div class="ticket__payment-info">
          <div class="payment-label">Iban</div>
          <div class="payment-content">
            <span><%= organization.iban %></span>
            <%= inline_svg_tag 'copy' %>
          </div>
        </div>
        <div class="ticket__payment-info">
          <div class="payment-label">Skeniraj i uplati</div>
          <div class="payment-content">
            <canvas id="barcode"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>