<div class="ticket">
  <div class="ticket__content">
    <div class="ticket__header">
      <h4 class="ticket__name">Centar za odgoj i obrazovanje Juraj Bonači</h4>
      <%= inline_svg 'chevron-down', class: "ticket__toggle-action" %>
    </div>
    <div class="ticket__info">
      <span class="ticket__address">Ulica Jurja Šižgorića 4, <strong>Split</strong></span>
      <a href="#" target="_blank">
        <%= inline_svg 'globe' %>
        <span>www.udruga-down21.hr</span>
      </a>
    </div>
    <div class="ticket__body">
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        aut odit aut.</p>
      <div class="ticket__contact">
        <%= inline_svg 'phone' %>
        <span>021/123 456</span>
      </div>
      <div class="ticket__contact">
        <%= inline_svg 'email' %>
        <span>udrugaudrugaudruga@gmail.com</span>
      </div>
      <hr />
      <div class="ticket__footer">
        <div class="ticket__payment-info">
          <div class="payment-label">Iban</div>
          <div class="payment-content">
            <span>HR0032-52156-24153536276</span>
            <%= inline_svg 'copy' %>
          </div>
        </div>
        <div class="ticket__payment-info">
          <div class="payment-label">Skeniraj i uplati</div>
          <div class="payment-content">
            BARCODE PLACEHOLDER
          </div>
        </div>
      </div>
    </div>
  </div>
</div>