<div class="ticket" data-controller="ticket" data-action="click->ticket#toggleCard">
  <input type="hidden" data-ticket-target="organizationId" value="<%= organization.id %>"/>
  <input type="hidden" data-ticket-target="barcode" value="<%= organization.generate_barcode %>"/>
  <div class="ticket__content">
    <div class="ticket__header">
      <h4 class="ticket__name">
        <%= organization.name %>
      </h4>
      <%= inline_svg_tag 'chevron-down.svg', class: "ticket__toggle-action" %>
    </div>
    <div class="ticket__info">
      <span class="ticket__address"><%= organization.address %>
        , <strong><%= organization.city.name %></strong></span>
      <a href="<%= organization.website %>" target="_blank">
        <%= inline_svg_tag 'globe.svg' %><%= organization.website %>
      </a>
    </div>
    <div class="ticket__body ticket__body--hidden" data-ticket-target="body">
      <p><%= organization.description %></p>
      <div>
        <div class="ticket__contact">
          <%= inline_svg_tag 'phone.svg' %>
          <span><%= organization.telephone %></span>
        </div>
        <div class="ticket__contact">
          <a href="mailto:<%= organization.email %>"><%= inline_svg_tag 'email.svg' %><%= organization.email %></a>
        </div>
      </div>
      <hr/>
      <div class="ticket__footer">
        <div class="ticket__payment-info">
          <div class="payment-label">Iban</div>
          <div class="payment-content" data-action="click->ticket#copy">
            <input data-ticket-target="iban" value="<%= organization.iban %>" readonly/>
            <%= inline_svg_tag 'copy.svg' %>
          </div>
        </div>
        <div class="ticket__payment-info">
          <div class="payment-label">Skeniraj i uplati</div>
          <div class="payment-content">
            <canvas class="payment-barcode" id="barcode_organization_<%= organization.id %>"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>