<!DOCTYPE html>
<html>
  <head>
    <title>DonirajHr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M96MDD75F3"></script>
    <%= javascript_include_tag 'analytics', async: true %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
